# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pkl

# Envs and secrets
.env
secrets.env
*.env

# Local cache/temp
*.log
*.sqlite3
.DS_Store
*.tmp
tmp_files/
.chainlit/*

# Data and indexes
faiss.index/
data/

# Pandoc
pandoc-*

